.thumbnailContainer {
    height: 75px;
    width: 125px;
    margin: 0.25rem;
}

.thumbnailImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.selected {
    border: 3px solid #fff;
}