.topNav {
    background-color: rgb(2, 2, 145);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.topNav img {
    height: 50px;
}

.navFlexItem {
    margin: 0 2rem;
}

.navFlexItem button {
    padding: 0.5rem 0.75rem;
    font-weight: 400;
    color: rgb(150, 150, 150);
    background-color: rgba(2, 2, 145, 0.9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.navFlexItem button:hover {
    background-color: #fff;
    color: rgb(59, 59, 59);
}
